{% extends "layout.html" %}
{% block body %}

<style>
body{
	margin:0;
	padding:0;
	background: url('https://img.freepik.com/free-photo/blurred-bokeh-background_36923-877.jpg?size=626&ext=jpg');
	backdrop-filter: blur(2px);
	background-size:cover;
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
.title{
	text-align:center;
	padding:50px 0 20px;
}
.title h1{
	margin:20px;
	padding:20px;
	color:#262626;
	text-transform:uppercase;
	font-size:36px;
	font-weight:bold;
}
.container{
	width:50%;
	height:450px;
	background:#fff;
	margin:50px auto;
	border:2px solid #fff;
	box-shadow: 20px 50px 60px rgba(0,0,0,.5);
}
.container .left{
	float:left;
	width:50%;
	height:100%;
	background: url('https://www.flaticon.com/svg/vstatic/svg/1819/1819880.svg?token=exp=1616593833~hmac=4b5f2cf68c68c3475bbd92e4da57f871');
	background-size:cover;
	box-sizing:border-box;
}
.container .right{
	float:right;
	width:50%;

}
.formBox{
	width:100%;
	padding:100px 50px;
	box-sizing:border-box;
	height:400px;
	background:#fff;
}
.formBox p{
	margin:0;
	padding:0;
	color:#000;
	font-size:20px;
	font-weight:bold;
}
.formBox input{
	width:100%;
	font-size:20px;
	font-weight:bold;
	color:##777;
	margin-bottom:30px;
}
.formBox input[type="text"],
.formBox input[type="date"]{
	border:none;
	border-bottom:2px solid #03a9f4;
	outline:none;
	color:#808080;
	height:40px;
}
.formBox input[type="text"]:focus,
.formBox input[type="date"]:focus{
	border-bottom:2px solid #ff4987;
}

.formBox input[type="submit"]{
	margin:20px 0;
	border:none;
	cursor:pointer;
	background:#03a9f4;
	color:#fff;
	height:50px;
	font-weight:bold;
	font-size:18px;
	transition:0.5s;
}
.formBox input[type="submit"]:hover{
	background:#ff4987;
}
</style>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js">
	
	$('div.checkbox-group.required :checkbox:checked').length > 0
</script>
  <div class="title"><h1>Accept Mail</h1></div>
	<div class="container">
		<div class="left"></div>
		<div class="right">
			<div class="formBox">
				  {% if messages %}
					{% for message in messages %}
					 {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
					{% endfor %}
				  {% endif %}
			  <form action="/sendanemail/{{id}}" method="post"  enctype="multipart/form-data">
				  {% csrf_token %}
				  <input type="text" name="uname" value="{{ user.name }}" readonly><br>
				  <input type="text" name="toemail"  value="{{ user.email_id }}" readonly><br>
				  <input type="date" name="date" min="{{ startdate }}" max="{{ enddate }}" placeholder="YYYY-MM-DD"><br>
				  <input type="submit" name="" value="Submit">
			  </form>
			</div>
		  </div>
	</div>



	


{% endblock %}